@import '~node_modules/modern-normalize/modern-normalize.css';

html {
    scroll-behavior: smooth;
  }

.no-scroll {
    overflow: hidden;
  }
.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}