.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    @include mobile {
        max-width: 320px;
    }
    @include tablet {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 32px;
    }
    @include desktop {
        max-width: 1280px;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 32px;
    }
  }