.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.film_modal {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45vh);
        max-height: 80vh;
        overflow-y: auto;
        background-color: #fff;
        border-radius: 5px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 40px;
        padding-top: 48px;
        margin-left: auto;
        margin-right: auto;
        min-height: 200px;
        width: 280px;


        .is-hidden & {
            transform: translate(-50%, -50%) scale(0);
        }


        @include tablet {
            max-height: 100%;
            width: 704px;
            padding-top: 40px;
            padding-left: 36px;
            padding-right: 72px;
            padding-bottom: 64px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.8);

        }

        @include desktop {
            width: 806px;
            flex-basis: 50%;
            padding-top: 40px;
            padding-left: 12px;
            padding-right: 12px;
            padding-bottom: 40px;
        }
    }



    &__close-btn {
        overflow: visible;
        position: fixed;
        right: 8px;
        top: 8px;
        z-index: 1;
        width: 30px;
        height: 30px;

        padding: 0;
        margin: 0;

        background-color: transparent;
        border: 0;

        cursor: pointer;

        &:hover {
            .close-modal-button-icon {
                stroke: #B92F2C;
            }
        }

        svg {
            transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
            stroke: #000000;
        }

    }



    &-img {
        border-radius: 5px;
        width: 240px;
        height: 357px;
        padding-bottom: 15px;

        @include tablet {
            width: 264px;
            height: 374px;

        }

        @include desktop {
            width: 375px;
            height: 478px;
        }
    }

    &-about {
        width: fit-content;

        @include tablet {
            margin-left: 68px;

        }

        @include desktop {
            margin-left: 16px;

        }
    }

    &-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.16;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: #000000;
        margin-top: 20px;

        @include tablet {
            margin-top: 0;

        }
    }

    &-info {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        justify-content: space-between;

        @include tablet {
            justify-content: start;

        }
    }


    &-desc {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__desc-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.33;
        margin-bottom: 10px;

        @include tablet {
            font-size: 18px;
        }
    }

    .film_btn-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 4px;

        @include tablet {
            gap: 8px;
        }
    }
}

.film_btn,
.trailer_btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.166;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background: #B92F2C;
    border-radius: 100px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 40px;
    width: 120px;

    @include tablet {
        font-size: 14px;
        line-height: 1.33;
    }

    @include desktop {
        font-size: 18px;
        line-height: 1.33;
    }

    &:hover,
    &:active {
        background-color: #FFFFFF;
        color: #B92F2C;
        border: 1px solid #000000;
    }

    @include tablet {
        height: 50px;
        width: 140px;
    }

    @include desktop {
        height: 50px;
        width: 190px;
    }
}


.info-value,
.info-header,
.film_modal-desc {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33;
    color: #000000;

    @include tablet {
        font-size: 16px;
    }
}

.info-header {
    color: #8C8C8C;
    max-width: 50%;
}

.info-header:not(:last-child),
.info-value:not(:last-child) {
    padding-bottom: 8px;
}

.modal__wrap {
    @include tablet {
        display: flex;
    }
}

.good-rated {
    background: #045f08;
    border-radius: 5px;
    color: #FFFFFF;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;

}

.bad-rated {
    background: #B92F2C;
    border-radius: 5px;
    color: #FFFFFF;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;

}

.original-title {
    text-transform: uppercase;
}

.info-header,
.info-value {
    flex: 1 1 auto;
}

.info-value {
    max-width: 50%;
}


@media (max-width: 768px) {
    .info-value {
        flex-basis: 100%;

    }
}

.watch_trailer-btn {
    border-radius: 10px;
    background-color: #FFFFFF;
    font-size: 12px;
    color: #B92F2C;
    outline: #B92F2C 2px;
    max-width: 150px;

    &:hover,
    &:focus {
        background-color: #B92F2C;
        color: #FFFFFF;
        border: #fff;
    }

}
