:root {
    --mainColor: #000000; //Основний колір тексту
    --inverseMainColor: #ffffff; //Інверстний колір тексту
    --secondaryTextColor: #B92F2C; //Другорядний колір тексту
    --textColorFooter: #545454; //Колір тексту футера
}