<div class="container">
    <div class="auth__backdrop--hidden js__modal-window">
        <div class="auth__modal">
            <button type="button" class="auth__close-btn js__auth-modal-close">
                <svg class="auth__close-btn-icon" width="30" height="30">
                    <use href="./images/icons.svg#icon-close-button"></use>
                </svg>
            </button>
            <div class="auth__image">
            </div>
            <div class="auth__modal-content">
                <div class="auth__modals-wrap">
                    <div class="auth__modals js__auth__modals">
                        <div class="signup__modal">
                            <h1 class="auth__title">Sign In</h1>
                            <form class="auth__form js__form-sign-in" action="#" autocomplete="off">
                                <div class="auth__input-field">
                                    <input class="auth__form-input" type="email" name="userEmail" id="signup_email" placeholder=" ">
                                    <label class="auth__form-label" for="signup_email">Email</label>
                                </div>
                                <div class="auth__input-field">
                                    <input class="auth__form-input" type="password" name="userPassword" id="signup_password" placeholder=" ">
                                    <label class="auth__form-label" for="signup_password">Password</label>
                                </div>
                                <button class="auth__sumbit-btn" type="submit" data-sign-in>Sign In</button>
                            </form>
                        </div>
                        <div class="signin__modal">
                            <h1 class="auth__title">Sign Up</h1>
                            <form class="auth__form js__form-sign-up" action="#" autocomplete="off">
                                <div class="auth__input-field">
                                    <input class="auth__form-input" type="text" name="userName" id="signin_name" placeholder=" ">
                                    <label class="auth__form-label" for="signin_name">Name</label>
                                </div>
                                <div class="auth__input-field">
                                    <input class="auth__form-input" type="email" name="userEmail" id="signin_email" placeholder=" ">
                                    <label class="auth__form-label" for="signin_email">Email</label>
                                </div>
                                <div class="auth__input-field">
                                    <input class="auth__form-input" type="password" name="userPassword" id="signin_password" placeholder=" " pattern="(?=.*\d)(?=.*[a-z]).{6,}" title="Must contain at least one number and at least 6 or more characters" required>
                                    <label class="auth__form-label" for="signin_password">Password</label>
                                </div>
                                <button class="auth__sumbit-btn" type="submit" data-sign-up>Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="auth__actions">
                    <span class="auth__message js__auth-message">not registered?</span><span class="auth__alternative js__auth-alternative-btn">Sign up</span>
                </div>
            </div>
        </div>
    </div>


</div>