<div class="container">
  <header class="header-library">
    <div class="header-nav">
      <div class="search">
        <input
          type="text"
          name="search"
          id="search"
          class="search-input"
          placeholder="Movie search"
          autocomplete="off"
        />
        <button type="submit" class="submit-button">
          <svg class="icon-search">
            <use href="/src/images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </div>
      <div class="pages-btn">
        <a href="/src/index.html"
          ><button type="button" class="page-button home-button">
            Home
          </button></a
        >
        <a href="/src/library.html"
          ><button type="button" class="page-button library-button current">
            My library
          </button></a
        >
      </div>
      <div class="js__auth-settings" style="display: none">
        <svg class="icon-delete_user js__delete-user">
          <use href="/src/images/icons.svg#icon-delete_user"></use>
        </svg>
        <svg class="icon-sign_out js__sign-out">
          <use href="/src/images/icons.svg#icon-sign_out"></use>
        </svg>
      </div>
    </div>
    <a href="/src/index.html" class="logo-link-library">
      <svg class="icon-film">
        <use href="/src/images/icons.svg#icon-film"></use>
      </svg>
      <span class="filmoteka">Filmoteka</span>
    </a>
    <div class="add-btn">
      <button
        type="button"
        class="page-button watched-button active js__watched-button"
      >
        Watched
      </button>

      <button type="button" class="page-button queue-button js__queue-button">
        Queue
      </button>
    </div>
  </header>
</div>
