<div class="container">
  <header class="header">
    <div class="header-nav">
      <div class="search">
        <form class="search-form">
            <input
              type="text"
              name="search"
              id="search"
              class="search-input"
              placeholder="Movie search"
            />
        </form>

        <svg class="icon-search">
          <use href="/src/images/icons.svg#icon-search"></use>
        </svg>
      </div>

      <div class="pages-btn">
        <a href="/src/index.html"
          ><button type="button" class="page-button home-button current">
            Home
          </button></a
        >
        <a href="/src/library.html" class="js__library-button"
          ><button type="button" class="page-button library-button">
            My library
          </button></a
        >
        <svg class="icon-user js__auth-modal-open">
          <use href="/src/images/icons.svg#icon-user"></use>
        </svg>
        <div class="js__auth-settings" style="display: none;">
          <button type="button" class="js__delete-user">Delete User</button>
          <button type="button" class="js__sign-out">Sign Out</button>
        </div>
      </div>
    </div>

    <a href="/src/index.html" class="logo-link">
      <svg class="icon-film">
        <use href="/src/images/icons.svg#icon-film"></use>
      </svg>
      <span class="filmoteka">Filmoteka</span>
    </a>
  </header>
</div>
<button class="test_button">TEST</button>