<div class="members__backdrop--hidden js__members__backdrop">
    <div class="members__modal js__modal-members">
        <button class="close-modal-button js__modal-members-close" type="button">
            <svg class="close-modal-button-icon" width="30" height="30">
                <use href="./img/symbol-defs.svg#icon-close-button"></use>
            </svg>
        </button>
        <ul class="members__modal-slider js__modal-slider">
            <li class="members__submodal">
                <p class="members__subtitle">TEAM</p>
                <h1 class="members__title">CYBER ALLIANCE</h1>
            </li>
            <li class="members__submodal">
                <ul class="members-list">
                    <li class="members-list__item">
                        <img class="members-list__img" src="./img/cutecat.jpg" alt="Team`s member" width="120" height="120">
                        <h2 class="members-list__name">Anastasia Kovaleva</h2>
                        <p class="members-list__mark">10</p>
                        <p class="members-list__role">SCRUM MASTER</p>
                    </li>
                    <li class="members-list__item">
                        <img class="members-list__img" src="./img/cutecat.jpg" alt="Team`s member" width="120" height="120">
                        <h2 class="members-list__name">Oleksandr Yemchenko</h2>
                        <p class="members-list__mark">10</p>
                        <p class="members-list__role">TEAM LEAD</p>
                    </li>
                    <li class="members-list__item">
                        <img class="members-list__img" src="./img/cutecat.jpg" alt="Team`s member" width="120" height="120">
                        <h2 class="members-list__name">Daniil Pisotskyi</h2>
                        <p class="members-list__mark">10</p>
                        <p class="members-list__role">PROGRAMMER</p>
                    </li>
                </ul>
            </li>
            <li class="members__submodal">
                <ul class="members-list">
                    <li class="members-list__item">
                        <img class="members-list__img" src="./img/cutecat.jpg" alt="Team`s member" width="120" height="120">
                        <h2 class="members-list__name">Julia Bykova</h2>
                        <p class="members-list__mark">10</p>
                        <p class="members-list__role">PROGRAMMER</p>
                    </li>
                    <li class="members-list__item">
                        <img class="members-list__img" src="./img/cutecat.jpg" alt="Team`s member" width="120" height="120">
                        <h2 class="members-list__name">Sofia Shmayun</h2>
                        <p class="members-list__mark">10</p>
                        <p class="members-list__role">PROGRAMMER</p>
                    </li>
                    <li class="members-list__item">
                        <img class="members-list__img" src="./img/cutecat.jpg" alt="Team`s member" width="120" height="120">
                        <h2 class="members-list__name">Pavlo Sydorenko</h2>
                        <p class="members-list__mark">10</p>
                        <p class="members-list__role">PROGRAMMER</p>
                    </li>
                </ul>
            </li>
            <li class="members__submodal">
                <ul class="members-list">
                    <li class="members-list__item">
                        <img class="members-list__img" src="./img/cutecat.jpg" alt="Team`s member" width="120" height="120">
                        <h2 class="members-list__name">Svitlana Scheigen</h2>
                        <p class="members-list__mark">10</p>
                        <p class="members-list__role">PROGRAMMER</p>
                    </li>
                    <li class="members-list__item">
                        <img class="members-list__img" src="./img/cutecat.jpg" alt="Team`s member" width="120" height="120">
                        <h2 class="members-list__name">Oleksandr Rybalka</h2>
                        <p class="members-list__mark">10</p>
                        <p class="members-list__role">PROGRAMMER</p>
                    </li>
                    <li class="members-list__item">
                        <img class="members-list__img" src="./img/cutecat.jpg" alt="Team`s member" width="120" height="120">
                        <h2 class="members-list__name">Olena Penkova</h2>
                        <p class="members-list__mark">10</p>
                        <p class="members-list__role">PROGRAMMER</p>
                    </li>
                </ul>
            </li>
            <li class="members__submodal">
                <ul class="members-list">
                    <li class="members-list__item">
                        <img class="members-list__img" src="./img/cutecat.jpg" alt="Team`s member" width="120" height="120">
                        <h2 class="members-list__name">Kateryna Taranenko</h2>
                        <p class="members-list__mark">10</p>
                        <p class="members-list__role">PROGRAMMER</p>
                    </li>
                    <li class="members-list__item">
                        <img class="members-list__img" src="./img/cutecat.jpg" alt="Team`s member" width="120" height="120">
                        <h2 class="members-list__name">Olena Pototska</h2>
                        <p class="members-list__mark">10</p>
                        <p class="members-list__role">PROGRAMMER</p>
                    </li>
                    <li class="members-list__item">
                        <img class="members-list__img" src="./img/cutecat.jpg" alt="Team`s member" width="120" height="120">
                        <h2 class="members-list__name">Evgeny Hartanyuk</h2>
                        <p class="members-list__mark">10</p>
                        <p class="members-list__role">PROGRAMMER</p>
                    </li>
                </ul>
            </li>
        </ul>
        <button class="members__next-button js__next-button" type="button">NEXT</button>
    </div>
</div>