<div class="members__backdrop--hidden js__members__backdrop">
  <div class="members__modal js__modal-members">
    <button class="close-modal-button js__modal-members-close" type="button">
      <svg class="close-modal-button-icon" width="30" height="30">
        <use href="./images/icons.svg#icon-close-button"></use>
      </svg>
    </button>
    <ul class="members__modal-slider js__modal-slider">
      <li class="members__submodal">
        <p class="members__subtitle">TEAM</p>
        <h1 class="members__title">CYBER ALLIANCE</h1>
      </li>
      <li class="members__submodal">
        <ul class="members-list">
          <li class="members-list__item">
            <img
              class="members-list__img"
              srcset="./images/photo_2022-12-14_18-52-08.jpg"
              src="./images/photo_2022-12-14_18-52-08.jpg"
              alt="Team`s member"
              width="120"
              height="120"
            />
            <h2 class="members-list__name">Anastasia Kovaleva</h2>
            <p class="members-list__mark">10</p>
            <p class="members-list__role">SCRUM MASTER</p>
          </li>
          <li class="members-list__item">
            <img
              class="members-list__img"
              srcset="./images/I_am.jpg"
              src="./images/I_am.jpg"
              alt="Team`s member"
              width="120"
              height="120"
            />
            <h2 class="members-list__name">Oleksandr Yemchenko</h2>
            <p class="members-list__mark">10</p>
            <p class="members-list__role">TEAM LEAD</p>
          </li>
          <li class="members-list__item">
            <img
              class="members-list__img"
              srcset="./images/cutecat.jpg"
              src="./images/cutecat.jpg"
              alt="Team`s member"
              width="120"
              height="120"
            />
            <h2 class="members-list__name">Daniil Pisotskyi</h2>
            <p class="members-list__mark">10</p>
            <p class="members-list__role">PROGRAMMER</p>
          </li>
          <li class="members-list__item">
            <img
              class="members-list__img"
              srcset="./images/photo_2022-12-25_18-41-01.jpg"
              src="./images/photo_2022-12-25_18-41-01.jpg"
              alt="Team`s member"
              width="120"
              height="120"
            />
            <h2 class="members-list__name">Julia Bykova</h2>
            <p class="members-list__mark">10</p>
            <p class="members-list__role">PROGRAMMER</p>
          </li>
        </ul>
      </li>
      <li class="members__submodal">
        <ul class="members-list">
          <li class="members-list__item">
            <img
              class="members-list__img"
              srcset="./images/photo_2022-12-24_19-06-22.jpg"
              src="./images/photo_2022-12-24_19-06-22.jpg"
              alt="Team`s member"
              width="120"
              height="120"
            />
            <h2 class="members-list__name">Sofia Shmayun</h2>
            <p class="members-list__mark">10</p>
            <p class="members-list__role">PROGRAMMER</p>
          </li>
          <li class="members-list__item">
            <img
              class="members-list__img"
              srcset="./images/cutecat.jpg"
              src="./images/cutecat.jpg"
              alt="Team`s member"
              width="120"
              height="120"
            />
            <h2 class="members-list__name">Pavlo Sydorenko</h2>
            <p class="members-list__mark">10</p>
            <p class="members-list__role">PROGRAMMER</p>
          </li>
          <li class="members-list__item">
            <img
              class="members-list__img"
              srcset="./images/photo_2022-12-24_21-29-08.jpg"
              src="./images/photo_2022-12-24_21-29-08.jpg"
              alt="Team`s member"
              width="120"
              height="120"
            />
            <h2 class="members-list__name">Olena Penkova</h2>
            <p class="members-list__mark">10</p>
            <p class="members-list__role">PROGRAMMER</p>
          </li>
          <li class="members-list__item">
            <img
              class="members-list__img"
              srcset="./images/photo_2022-12-25_08-15-19.jpg"
              src="./images/photo_2022-12-25_08-15-19.jpg"
              alt="Team`s member"
              width="120"
              height="120"
            />
            <h2 class="members-list__name">Oleksandr Rybalka</h2>
            <p class="members-list__mark">10</p>
            <p class="members-list__role">PROGRAMMER</p>
          </li>
        </ul>
      </li>
      <!-- <li class="members__submodal">
        <ul class="members-list"></ul> -->
      </li>
      <li class="members__submodal">
        <ul class="members-list">
          <li class="members-list__item">
            <img
              class="members-list__img"
              srcset="./images/photo_2022-12-25_13-54-18.jpg"
              src="./images/photo_2022-12-25_13-54-18.jpg"
              alt="Team`s member"
              width="120"
              height="120"
            />
            <h2 class="members-list__name">Kateryna Taranenko</h2>
            <p class="members-list__mark">10</p>
            <p class="members-list__role">PROGRAMMER</p>
          </li>
          <li class="members-list__item">
            <img
              class="members-list__img"
              srcset="./images/photo_2023-04-13_21-00-33.jpg"
              src="./images/photo_2023-04-13_21-00-33.jpg"
              alt="Team`s member"
              width="120"
              height="120"
            />
            <h2 class="members-list__name">Svitlana Shaygen</h2>
            <p class="members-list__mark">10</p>
            <p class="members-list__role">PROGRAMMER</p>
          </li>
          <li class="members-list__item">
            <img
              class="members-list__img"
              srcset="./images/photo_2022-12-25_12-27-04.jpg"
              src="./images/photo_2022-12-25_12-27-04.jpg"
              alt="Team`s member"
              width="120"
              height="120"
            />
            <h2 class="members-list__name">Olena Pototska</h2>
            <p class="members-list__mark">10</p>
            <p class="members-list__role">PROGRAMMER</p>
          </li>
          <li class="members-list__item">
            <img
              class="members-list__img"
              srcset="./images/photo_2022-12-25_11-27-26.jpg"
              src="./images/photo_2022-12-25_11-27-26.jpg"
              alt="Team`s member"
              width="120"
              height="120"
            />
            <h2 class="members-list__name">Evgeny Hartanyuk</h2>
            <p class="members-list__mark">10</p>
            <p class="members-list__role">PROGRAMMER</p>
          </li>
        </ul>
      </li>
    </ul>
    <button class="members__next-button js__next-button" type="button">
      NEXT
    </button>
  </div>
</div>
