.my-first-item-class {
  display: inline-block;
  position: relative;
  width: 28px;
  padding: 8px 0 6px;
  margin-left: 0;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 5px;
  border: 0px solid rgb(255, 255, 255);
  border-width: 01px 0;
  background-color: aquamarine;
  background: #ffffff;
}

.tui-chenge-stile-btn {
  border: none;
}

.tui-pagination .tui-page-btn {
  border-radius: 5px;
}

.tui-pagination .tui-is-selected {
  border-radius: 5px;
  background: #b92f2c !important;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left: #b92f2c !important;
}

.tui-pagination .tui-last-child.tui-is-selected {
  border-right: #b92f2c !important;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #fff;
  background: #b92f2c !important;
  border-color: #b92f2c !important;
  cursor: default;
}

.tui-pagination {
  padding-top: 60px;
  padding-bottom: 60px;
}
